# RPC URLs
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASE_RPC_URL=https://mainnet.base.org

# Etherscan/Basescan API key for contract verification
ETHERSCAN_API_KEY=
BLOCKSCOUT_VERIFIER_URL=https://base.blockscout.com/api/

# Deployer address (from keystore)
DEPLOYER_ADDRESS=